<h1>Restaurant Details</h1>
<h3><%= @restaurant.name %></h3>
<p><strong>Address: </strong><%= @restaurant.address %> </p>
<p><strong>Phone Number: </strong><%= @restaurant.phone_number %></p>
<p><strong>Category: </strong><%= @restaurant.category %></p>
<br>
<h2>Reviews</h2>
<% @restaurant.reviews.each do |review|%>
<p><%= review.rating %>/5 stars</p>
<p><%= review.content %></p>
<% end %>

<%= link_to "Leave a review", new_restaurant_review_path(@restaurant), class:"btn btn-primary" %>
